<!DOCTYPE html>
<html>
  <head>
    <title>MyBestProject</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= yield :head %>
  </head>

  <body>
    <br/>
    <br/>
    <%= flash[:notice] %>
    <header>
      <h1> I'm HEADER!</h1>
      <%= yield :header_email %>
    </header>

    <div class='container'>
      <%= yield %>
    </div>
  </body>
</html>
